@model IceTaskOne.Models.MusicMakeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-controller="Music" asp-action="Index">
    <p>
        <select asp-for="MusicMake" asp-items="Model.Make">
            <option value="">All</option>
        </select>
        Title: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MusicItems![0].Instrument)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusicItems![0].Make)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusicItems![0].Year)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MusicItems![0]. Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.MusicItems!) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Instrument)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
